.subtitulo{
    margin: 15px;
    padding: 0;

}
.contenedor{
    max-width: 100%;
    margin: 0;
    padding: 20px;
}

.image {
   float: right; 
   margin: 0 0 20px 20px;
   max-width: 25%;
   height: auto;
}

.image2 {
   float: left; 
   margin: 0 20px 20px 0;
   max-width: 25%;
   height: auto;
}

.titulo-interno{
   font-size: 30px;
}

p{
    font-size: 19px;
}

